.container-fluid{
  min-width:960px;
}
#header{
  background-color:#586D12;
  height:45px;
}
#header #menu{
  height:inherit;
  color:white;
  font-size:14px;
}
#header #menu .row{
  margin-top: 13px;
}
#header #menu .row span{
  padding-left: 20px;
}
#header #fig-container{
  z-index: 20;
  width:110px;
  height:110px;
  background-color: #586D12;
  position:absolute;
  /*left:50%;*/
  margin-left: 415px;
  top:-15px;
  background-image:url('logos.png');
  background-position: -446px 13px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}


#carousel{
  height:595px;
  background-image:url('carusell0.png');  
  background-position:center; 
  max-width: 1400px;
  min-width:960px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#carousel-navigation{
  z-index: 20;
  position: absolute;
  left:50%;
  margin-left: -470px;
}
#carousel-navigation #first-paragraph{
  height: 60px;
  width: 400px;
  background-color: #586D12;
  opacity: 0.8;
  margin-top: 230px;
  margin-left: 40px;
  background-image:url('logos.png');
  background-position: -34px -89px;
}

#carousel-navigation #second-paragraph{
  height: 60px;
  width: 750px;
  background-color: #586D12;
  margin-left: 200px;
  opacity: 0.8;
  background-image:url('logos.png');
  background-position: -222px -148px;
}




#speisekarte{
  background-color:#586D12;
  height:255px;
}
#speisekarte #speisekarte-logo{
  background-image:url('logos.png');
  background-position: -14px -200px;
  height:55px;
}
#speisekarte #circluar-pics{
  margin-top: 5px;
  height:155px;
}
#speisekarte #circluar-pics .span2{
  width:143px;
  height:inherit;
  background-image:url('logos.png');
    cursor: pointer;
}
#speisekarte #circluar-pics .offset1{
  margin-left:90px;
}
#speisekarte #circluar-pics .span2:nth-of-type(1){
  background-position: -88px -294px;
}
#speisekarte #circluar-pics .span2:nth-of-type(2){
  background-position: -254px -294px;
}
#speisekarte #circluar-pics .span2:nth-of-type(3){
  background-position: -422px -294px;
}
#speisekarte #circluar-pics .span2:nth-of-type(4){
  background-position: -587px -294px;
}
#speisekarte #circluar-pics .span2:nth-of-type(5){
  background-position: -756px -294px;
}
#speisekarte #speisekarte-titles{
  height:35px;
  position: relative;
  z-index: 1000;
}
#speisekarte #speisekarte-titles .span2{
  width:143px;
  height: inherit;
  background-image:url('logos.png');
  visibility: hidden;
}
#speisekarte #speisekarte-titles .span2:nth-of-type(1){
  background-position: 975px -1992px;
}
#speisekarte #speisekarte-titles .span2:nth-of-type(2){
  background-position: 792px -1992px;
}
#speisekarte #speisekarte-titles .span2:nth-of-type(3){
  background-position: 952px -2053px;
}
#speisekarte #speisekarte-titles .span2:nth-of-type(4){
  background-position: 333px -2053px;
}
#speisekarte #speisekarte-titles .span2:nth-of-type(5){
  background-position: 158px -2053px;
}
#speisekarte #speisekarte-titles .offset1{
  margin-left: 90px;
}
#speisekarte .rotated-peak{
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 70px solid #586D12;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  margin-top: -25px;
}




#big-phrase{
  background-color: #FDEFBE;
  height:320px;
}
#big-phrase #big-phrase-logo{
  height:305px;
margin-top:10px;
  width:960px;
  background-image:url('logos.png');
  background-position:-11px 300px;
}



.menu-headline{
  height:55px;
}
.menu-headline-logo{
  height:inherit;
  position: relative;
  width:200px;
  left:50%;
  margin-left: -100px;
  background-image:url('logos.png');
}
#canape-headline{
  background-color: #C09DA1
}
#canape-headline-logo{
  background-position: 1012px -1980px;
}
#vorspeise-headline{
  background-color: #FFA06E;
}
#vorspeise-headline-logo{
  background-position: 831px -1980px;
}
#hauptgang-headline{
  background-color: #C84C4C;
}
#hauptgang-headline-logo{
  background-position: 990px -2041px;
}
#dessert-headline{
  background-color: #605053;
}
#dessert-headline-logo{
  background-position: 373px -2041px;
}
#extras-headline{
  background-color: #5E9762;
}
#extras-headline-logo{
  background-position: 190px -2041px;
}

.menu-description.container{
  height:265px;
  width:960px;
}
.menu-description.container p, .menu-description.container li, .menu-description.container{
  color:#586D12;
  font-size:13px;
  line-height: 18px;
}
#canape-description-left{
  float:left;
  height:inherit;
  width:478px;
  background-image:url('logos.png');
  background-position: -12px -685px;
}
#canape-description-right{
  float:left;
  height:inherit;
  width:478px;
}

#canape-description-right .row-fluid:nth-of-type(1){
  margin-top: 25px;
}

.row-fluidclass.menu-description:nth-of-type(1){
  height:30px;
}
.row-fluid.menu-description:nth-of-type(1) p{
  padding-left: 90px;
  padding-top: 10px;
}

.row-fluid.menu-description:nth-of-type(2) ul{
  padding-left: 70px;
}

.row-fluid.menu-description.menu-left:nth-of-type(1) p{
  padding-left: 30px;
}

.row-fluid.menu-description.menu-left:nth-of-type(2) ul{
  padding-left: 10px;
}

#vorspeise-description{
  height:690px;
}

#vorspeise-description-1, #vorspeise-description-2, #vorspeise-description-3{
  height:230px;
}


#vorspeise-description-1-left{
  float:left;
  height:inherit;
  width:478px;
}

#vorspeise-description-1-left .row-fluid:nth-of-type(1){
  margin-top: 15px;
}
#vorspeise-description-1-right{
  float:left;
  height:inherit;
  width:478px;
  background-image:url('logos.png');
  background-position:  -10px -962px;
}

#vorspeise-description-2-left{
  float:left;
  height:inherit;
  width:480px;
  background-image:url('logos.png');
  background-position:  -10px -1209px;
}
#vorspeise-description-2-right{
  float:left;
  height:inherit;
  width:476px;
}
#vorspeise-description-2-right .row-fluid:nth-of-type(1){
  margin-top: 50px;
}

#vorspeise-description-3-left{
  float:left;
  height:inherit;
  width:478px;
}
#vorspeise-description-3-right{
  float:left;
  height:inherit;
  width:478px;
  background-image:url('logos.png');
  background-position: -10px -1461px;
}


#hauptgang-description{
  height:510px;
}

#hauptgang-description-1, #hauptgang-description-2{
  height:255px;
}

#hauptgang-description-1-left{
  float:left;
  height:inherit;
  width:478px;
  background-image:url('logos.png');
  background-position: -10px -1710px;
}
#hauptgang-description-1-right{
  float:left;
  height:inherit;
  width:478px;
}
#hauptgang-description-1-right .row-fluid:nth-of-type(1){
  margin-top: 25px;
}

#hauptgang-description-2-left{
  float:left;
  height:inherit;
  width:478px;
}

#hauptgang-description-2-left .row-fluid:nth-of-type(1){
  margin-top: 60px;
}

#hauptgang-description-2-right{
  float:left;
  height:inherit;
  width:478px;
  background-image:url('logos.png');
  background-position: -511px -686px;
}

#dessert-description{
  height:213px;
}
#dessert-description-left{
  float:left;
  height:inherit;
  width:478px;
  background-image:url('logos.png');
  background-position: -511px -963px;
}
#dessert-description-right{
  float:left;
  height:inherit;
  width:478px;
}

#dessert-description-right .row-fluid:nth-of-type(1){
  margin-top: 15px;
}

#extras-description{
  height:400px;
}
#extras-description-left{
  float:left;
  height:inherit;
  width:478px;
}

#extras-description-left .row-fluid:nth-of-type(1){
  margin-top: 15px;
}

#extras-description-right{
  float:left;
  height:inherit;
  width:478px;
  background-image:url('logos.png');
  background-position: -511px -1196px;
}



#big-phrase-bottom{
  background-color: #FDEFBE;
  height:278px;
}
#big-phrase-bottom #big-phrase-bottom-logo{
  height:160px;
  width:960px;
  margin-top: 55px;
  background-image:url('logos.png');
  background-position: -11px 682px;
}





#menu-download{
  height:165px;
  background-color: #586D12;
}
#menu-download .container{
  height: inherit;
}
#menu-download .container .row{
  height: inherit;
}
#menu-download-headline{
  margin-top: 38px;
  height:100px;
  background-image:url('logos.png');
  background-position: -57px 505px;
}
#menu-download-icon{
  height:inherit;
  background-image:url('logos.png');
  background-position: -620px 540px;
  cursor: pointer;
}

#menu-download .rotated-peak{
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 70px solid #586D12;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  margin-top: -30px;
}



#kontakt{
  height:565px;
}

#kontakt .row{
  height:90px;
}
#kontakt #kontakt-headline{
  height:inherit;
  background-image:url('logos.png');
  background-position: 13px 385px;
}

#kontakt .logos{
  height: 90px;
  background-image:url('logos.png');
  width:80px;
  margin-left:55px;
}

#kontakt .infos{
  height: inherit;

}
#kontakt .infos p{
  padding-top: 32px;
}

#kontakt .infos p{
  color: #586D12;
}
#kontakt #email-logo{
  background-position:-217px 385px;
}
#kontakt #telephone-logo{
  background-position:-306px 385px;
}
#kontakt #mobile-headline{
  background-position:-395px 385px;
}
#kontakt #address-headline{
  background-position:-486px 385px;
}
#kontakt #kontakt-advice-headline{
 text-align: center; 
}
#kontakt #kontakt-advice-headline p{
 color:#586D12;
 font-size: 26px;
 padding-top: 20px
}

#footer{
  height:165px;
  background-color: #586D12; 
  position: relative;
}
#footer .span1{
  height: 130px;
  background-image:url('logos.png');
}

#footer .span1.offset4{
  margin-left: 380px;
}
#footer .span1:nth-of-type(1){
  height:70px;
  margin-top:60px;
  background-position: -616px 376px;
}
#footer .span1:nth-of-type(2){
  background-position: -724px 437px;
}
#footer .span1:nth-of-type(3){
  background-position: -826px 437px;
}

#footer #fig-container{
  width:110px;
  height:110px;
  background-color: #586D12;
  position:absolute;
  /*left:50%;*/
  margin-left: 415px;
  background-image:url('logos.png');
  background-position: -446px 11px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  margin-top: -50px;
}

#footer #impresum{
  text-align: center;
}
#footer #impresum a{
  color:white;
  font-weight: bold;
}
#footer .container .span1{
  cursor: pointer;
}